h2 {
  text-align: center;
  color: orange;
}

.product-suggestions {
  display: flex;
  overflow-x: auto;
  gap: 50px; /* Tăng khoảng cách giữa các sản phẩm */
  padding: 10px 0;
  justify-content: center;
}

.product-card {
 
  min-width: 250px; /* Kích thước tối thiểu */
  max-width: 250px; /* Kích thước tối đa */
  

  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  transition: transform 0.2s;
 


 
  
}

.product-card img {
  width: 100%;
  height: auto; /* Giữ tỷ lệ hình ảnh */
  max-height: 150px; /* Chiều cao tối đa của hình ảnh */
  object-fit: cover; /* Giúp ảnh vừa khít với khung */
  border-bottom: 1px solid #ddd;
}

.product-card h4 {
  font-size: 16px;
  margin: 10px 0;
  color: #333;
}

.product-card p {
  margin: 0;
  padding: 5px;
  color: orange;
  font-weight: bold;
}

.product-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.nav-button {
  background-color: orange;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: gray;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productinfo img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination a {
  background-color: white; /* Màu nền mặc định */
  color: black;
  border: none;
  padding: 8px 12px;
  border: 1px solid orange;
  border-radius: 50%;
  margin: 0 10px; /* Khoảng cách giữa các nút */
  text-decoration: none; /* Bỏ gạch chân */
  transition: background-color 0.3s;
}

.pagination a:hover {
  background-color: orange; /* Màu nền khi hover */
  color: white;
}

/* Class giữ màu cho trang hiện tại */
.pagination a.active {
  background-color: orange; /* Màu giữ cho nút hiện tại */
  color: whitesmoke;
}
